.parent {
  display: flex;
}
.components {
    margin: 30px 0px 0px 30px;
    width: 50%;
    border: 5px solid rgb(17, 72, 90);
    align-content: center;
    border-radius: 15px;
    padding: 25px;
    flex: 40%;
  }

  .components Button{
      background-color: lightblue;
      display: flex;
  }
  
  @media (max-width: 48em) {
    .components {
      margin: 30px 0px 0px 80px;
      width: 100%;
    }
  }
  
  .container{
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  